.header {
  width: 100%;
  margin: 0;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dd0044;
  box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

.header .navbar .navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .navbar .navbar-nav .nav-item {
  display: inline-block;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  padding: 5px 5px;
  margin: 0;
}
